# This workflow will publish a package to npm when a release is created

name: NPM Package Publish

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
        env:
          PUBLISHABLE_KEY: ${{secrets.PUBLISHABLE_KEY}}

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Upgrade npm CLI
        run: npm i -g npm@^11.5.1
      - name: Install dependencies
        run: npm ci
      - name: Publish
        run: npm publish --access public
