# This workflow will create a new release for the package

name: Publish New Version

on:
  workflow_dispatch:
    inputs:
      release:
        description: "major | minor | patch"
        required: true
        default: "patch"
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  publish-new-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
        env:
          PUBLISHABLE_KEY: ${{secrets.PUBLISHABLE_KEY}}
      - name: Create New Version
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          npm version ${{ github.event.inputs.release }} --no-git-tag-version
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          git commit -a -m "v${PACKAGE_VERSION}"
          git tag "v${PACKAGE_VERSION}"
          git push origin HEAD:${{ github.ref_name }} --tags
      - name: Create Release
        run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          gh release create "v${PACKAGE_VERSION}" --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
